{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="central">
        <div id="superior">
            <span id="titulo">Login</span>
            <a href="">Ou crie uma conta</a>
        </div>
        <input type="email" id="inputemail" placeholder="Email">
        <input type="password" id="inputsenha" placeholder="Senha">
        <input type="submit" id="inputsubmit">
    </div>
</body>
</html>